.product {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tg-theme-button-color);
    padding: 10px;
    width: 50px;
}


.img {
    /*width: 50%;*/
    /*background: lightgray;*/
    /*height: auto;*/
    /*margin-bottom: 10px;*/
    /*background: var(--tg-theme-button-color);*/
    width: auto; /* Автоматическая ширина для сохранения пропорций */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    margin-bottom: 10px; /* Добавьте отступ снизу, чтобы разделить изображение и описание товара */
}

.description {
    font-size: 0.8em;
}

.add-btn {
    width: 100%;
}